---
import { Icon } from "astro-icon/components";
import {Picture} from 'astro:assets';
import img from '~/assets/images/landscape/001A2279.jpg';
// Astro组件脚本部分
const year = 2024;
const month = 4; // JavaScript中月份是从0开始的，所以5月份是4

// 获取2024年5月有多少天
const daysInMonth = new Date(year, month + 1, 0).getDate();

// 获取2024年5月1日是星期几
const startDayOfWeek = new Date(year, month, 1).getDay();

const days: number[] = [];
for (let i = 1; i <= daysInMonth; i++) {
    days.push(i);
}

const weekDays = ['日', '一', '二', '三', '四', '五', '六'];
---

<!-- Astro组件模板部分 -->
<div class='bg-slate-400 p-2 rounded-sm'>
    <Picture src={img} formats={['webp']} alt='背景图' />
    <div class='text-slate-50 text-center text-sm'>蓄谋已久,得偿所愿</div>
    <div class='card'>
        <h1>五月 2024</h1>
        <div style='display: grid; grid-template-columns: repeat(7, 1fr); gap: 10px;'>
            <!-- 渲染星期名称 -->
            {
                weekDays.map((weekday) => (
                    <div class='m-auto'>
                        <strong>{weekday}</strong>
                    </div>
                ))
            }
            <!-- 渲染月份开始前的空白 -->
            {Array.from({length: startDayOfWeek}).map((_, index) => <div />)}
            <!-- 渲染日期 -->
            {
                days.map((day) => (
                    <div class='day m-auto'>
                        {day === 2 && <div class='heart' />}
                        {day}
                    </div>
                ))
            }
        </div>
    </div>
    <div class="my-4 w-full text-slate-50 font-serif font-bold flex justify-center gap-1">

        <Icon name='tabler:map-2' class='w-6 h-6 inline-block' />
        <span>徐州市 开元名都·怡园</span>
    </div>
</div>

<style>
    .card {
        transform-style: preserve-3d;
        max-width: 40rem;
        max-height: 35rem;
        min-height: 15rem;
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        z-index: 2;
        border-radius: 1.5rem;
        padding: 29px;
        backdrop-filter: blur(20px);
        box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
    }
    .day {
        position: relative;
    }
    .heart {
        background-color: crimson;
        display: inline-block;
        width: 16px;
        height: 16px;
        /* position: relative; */
        /* top: 0; */
        transform: rotate(-45deg);
        position: absolute;
        z-index: -1;
        left: -34%;
        top: 27%;
        /* left: 45%; */
        /* top: 45%; */
        animation: heartbeat 1.25s infinite;
    }

    .heart::before,
    .heart::after {
        content: '';
        background-color: crimson;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        animation: pulsecolor 1.25s infinite;
    }

    .heart::before {
        top: -8px;
        left: 0;
    }

    .heart::after {
        top: 0;
        left: 8px;
    }

    @keyframes heartbeat {
        0% {
            transform: scale(1) rotate(-45deg);
        }
        10% {
            transform: scale(1.25) rotate(-45deg);
            background-color: #ef395e;
        }
        100% {
            transform: scale(1) rotate(-45deg);
        }
    }

    @keyframes pulsecolor {
        10% {
            background-color: #ef395e;
        }
    }
</style>
