---
import { Icon } from "astro-icon/components";
const {date} = Astro.props;
const targetDate = new Date(date);
const currentDate = new Date();
const difference = targetDate.getTime() - currentDate.getTime();

// 将时间差转换为天数
const daysLeft = Math.max(0, Math.ceil(difference / (1000 * 60 * 60 * 24)));

function formatCountdown(days) {
    if (days === 0) {
        return '今日大喜!';
    } else {
        return `距离婚礼还有 ${days}天`;
    }
}
---

<div>
    {
        daysLeft === 0 ? (
            <p>今日大喜!</p>
        ) : (
            <p class="font-serif font-bold text-lg">
                距离婚礼还有<span class='text-red-500'>{daysLeft}</span>天
                <Icon
                      name='tabler:alarm'
                      class="w-6 h-6 text-red-500 inline-block"
                    />
            </p>
        )
    }
</div>
